@charset "UTF-8";
@font-face {
  font-family: "Fluffy";
  src: url("../assets/fonts/Innisfree-Fluffy-Monospaced-Font.ttf");
}
#social-responsibility {
  line-height: initial;
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #dff1e0;
}
#social-responsibility .fs-75px {
  font-size: clamp(24px, 5.859375vw, 75px);
}
#social-responsibility .fs-40px {
  line-height: 1.575;
  font-size: clamp(20px, 3.125vw, 40px);
}
#social-responsibility .fs-34px {
  font-size: clamp(16px, 2.65625vw, 34px);
}
#social-responsibility .fs-20px {
  font-size: clamp(14px, 1.5625vw, 20px);
}
#social-responsibility .leading-2\.5 {
  line-height: 2.5;
}
#social-responsibility .leading-2 {
  line-height: 2;
}
#social-responsibility .tracking-0\.3 {
  letter-spacing: 0.3em;
}
#social-responsibility .fw-medium {
  font-weight: 500;
}
#social-responsibility .fw-bold {
  font-weight: 700;
}
#social-responsibility .fw-heavy {
  font-weight: 900;
}
#social-responsibility .text-white {
  color: #fff;
}
#social-responsibility .text-green {
  color: #00b65d;
}
#social-responsibility .text-dark-green {
  color: #004e31;
}
#social-responsibility .text-gray {
  color: #5d5d5d;
}
#social-responsibility .text-center {
  text-align: center;
}
#social-responsibility .m-auto {
  margin: auto;
}
#social-responsibility .mt-auto {
  margin-top: auto;
}
#social-responsibility .mt-20px {
  margin-top: clamp(0px, 1.5625vw, 20px);
}
#social-responsibility .mt-36px {
  margin-top: clamp(0px, 2.8125vw, 36px);
}
#social-responsibility .mt-48px {
  margin-top: clamp(0px, 3.75vw, 48px);
}
#social-responsibility .mt-52px {
  margin-top: clamp(0px, 4.0625vw, 52px);
}
#social-responsibility .mt-64px {
  margin-top: clamp(0px, 5vw, 64px);
}
#social-responsibility .mt-72px {
  margin-top: clamp(0px, 5.625vw, 72px);
}
@media (min-width: 768px) {
  #social-responsibility .md\:mt-72px {
    margin-top: clamp(0px, 5.625vw, 72px);
  }
}
#social-responsibility .mt-120px {
  margin-top: clamp(0px, 9.375vw, 120px);
}
#social-responsibility .px-36px {
  padding-left: clamp(0px, 2.8125vw, 36px);
  padding-right: clamp(0px, 2.8125vw, 36px);
}
#social-responsibility .py-60px {
  padding-top: clamp(0px, 4.6875vw, 60px);
  padding-bottom: clamp(0px, 4.6875vw, 60px);
}
#social-responsibility .py-50px {
  padding-top: clamp(0px, 3.90625vw, 50px);
  padding-bottom: clamp(0px, 3.90625vw, 50px);
}
#social-responsibility .px-70px {
  padding-left: clamp(0px, 5.46875vw, 70px);
  padding-right: clamp(0px, 5.46875vw, 70px);
}
#social-responsibility .w-100 {
  width: 100%;
}
#social-responsibility .rounded {
  border-radius: clamp(4px, 0.78125vw, 10px);
}
#social-responsibility .block {
  display: block;
}
#social-responsibility .d-none {
  display: none;
}
#social-responsibility .flex {
  display: flex;
}
@media (min-width: 640px) {
  #social-responsibility .sm\:block {
    display: block;
  }
}
@media (min-width: 768px) {
  #social-responsibility .md\:block {
    display: block;
  }
}
@media (min-width: 768px) {
  #social-responsibility .md\:d-none {
    display: none;
  }
}
#social-responsibility .flex-col {
  flex-direction: column;
}
@media (min-width: 640px) {
  #social-responsibility .sm\:flex-row {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  #social-responsibility .md\:flex-row {
    flex-direction: row;
  }
}
#social-responsibility .items-center {
  align-items: center;
}
#social-responsibility .items-start {
  align-items: flex-start;
}
#social-responsibility .justify-center {
  justify-content: center;
}
#social-responsibility .justify-between {
  justify-content: space-between;
}
@media (min-width: 768px) {
  #social-responsibility .md\:flex {
    display: flex;
  }
}
@media (min-width: 640) {
  #social-responsibility .sm\:items-center {
    align-items: center;
  }
}
@media (min-width: 768px) {
  #social-responsibility .md\:items-center {
    align-items: center;
  }
}
@media (min-width: 768px) {
  #social-responsibility .md\:justify-center {
    justify-content: center;
  }
}
#social-responsibility .basis-1\/2 {
  flex-basis: 50%;
}
#social-responsibility .gap-4 {
  gap: 1rem;
}
#social-responsibility .center {
  display: flex;
}
#social-responsibility .center > * {
  margin: auto;
}
#social-responsibility .bg-white {
  background-color: #fff;
}
#social-responsibility .header {
  display: flex;
  background-image: url("../assets/images/header-bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  padding: 5.46875vw;
  height: 100dvh;
}
#social-responsibility .paper {
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 5px 3px 0px rgba(0, 182, 93, 0.19);
  position: relative;
  border-radius: 10px 0 10px 10px;
}
#social-responsibility .paper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 clamp(0px, 5vw, 64px) clamp(0px, 4.53125vw, 58px) 0;
  border-color: transparent #dff1e0 transparent transparent;
}
#social-responsibility .paper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 clamp(0px, 5vw, 64px) clamp(0px, 4.53125vw, 58px) 0;
  border-color: transparent transparent #00b65d transparent;
}
#social-responsibility .paper .paper-dog-eared {
  position: absolute;
  width: 10px;
  height: clamp(0px, 4.53125vw, 58px);
  top: 0;
  right: -10px;
  background-color: #dff1e0;
}
#social-responsibility .title {
  padding: clamp(0px, 2.8125vw, 36px) 0 clamp(0px, 4.21875vw, 54px) 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
#social-responsibility .title.title-green {
  background-image: url("../assets/images/green-shield.png");
}
#social-responsibility .title.title-orange {
  background-image: url("../assets/images/orange-shield.png");
}
#social-responsibility .card {
  background-color: #00b65d;
}
#social-responsibility .plant-tree .content .card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-top: clamp(8px, 2.1875vw, 28px);
  padding-bottom: clamp(8px, 2.1875vw, 28px);
  padding-left: clamp(0px, 14.0625vw, 180px);
  padding-right: clamp(0px, 14.0625vw, 180px);
}
@media (max-width: 600px) {
  #social-responsibility .plant-tree .content .card {
    padding-left: clamp(0px, 3.5625vw, 148px);
    padding-right: clamp(0px, 3.5625vw, 148px);
  }
}
#social-responsibility .plant-tree .content .tree-number {
  font-family: "Noto Sans TC", sans-serif;
  font-size: clamp(0px, 14.453125vw, 185px);
  position: relative;
}
#social-responsibility .plant-tree .content .tree-number::after {
  content: "棵";
  position: absolute;
  bottom: clamp(-42px, -3.28125vw, 0px);
  right: clamp(-52px, -4.0625vw, 0px);
  font-size: clamp(0px, 4.296875vw, 55px);
}
#social-responsibility .plant-tree .content .tree-number .odometer-inside .odometer-digit {
  background-color: #fff;
  padding-right: clamp(0px, 0.9375vw, 12px);
  padding-left: clamp(0px, 1.40625vw, 18px);
  margin: 0 clamp(0px, 0.78125vw, 10px);
}
#social-responsibility .plant-tree .content .tree-number .odometer-formatting-mark {
  font-size: clamp(0px, 5.859375vw, 75px);
}
#social-responsibility .plant-tree .content .tree-number .odometer-value.odometer-last-value {
  left: 0;
  right: 0;
}
#social-responsibility .plant-tree .content .paper {
  width: clamp(0px, 87.265625vw, 1117px);
}
#social-responsibility .plant-tree .content .countries {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(2, auto);
  row-gap: clamp(0px, 4.21875vw, 54px);
  -moz-column-gap: clamp(0px, 5.9375vw, 76px);
       column-gap: clamp(0px, 5.9375vw, 76px);
  width: -moz-min-content;
  width: min-content;
  margin-top: clamp(0px, 6.484375vw, 83px);
}
#social-responsibility .plant-tree .content .countries .country {
  display: flex;
  align-items: center;
  gap: clamp(0px, 1.25vw, 16px);
  width: -moz-min-content;
  width: min-content;
}
#social-responsibility .plant-tree .content .countries .country .bar {
  height: 18px;
  width: clamp(0px, 26.40625vw, 338px);
  display: flex;
  position: relative;
}
#social-responsibility .plant-tree .content .countries .country .bar::before {
  position: absolute;
  color: #004e31;
  font-size: clamp(14px, 1.5625vw, 20px);
  top: clamp(-36px, -1.5625vw - 16px, -16px);
}
#social-responsibility .plant-tree .content .countries .country .bar-left {
  background-color: #004e31;
}
#social-responsibility .plant-tree .content .countries .country .bar-right {
  background-color: #b5d0b3;
}
#social-responsibility .plant-tree .content .countries .country:nth-of-type(1) .bar::before {
  content: "中國";
}
#social-responsibility .plant-tree .content .countries .country:nth-of-type(1) .bar-left {
  width: 75.5%;
}
#social-responsibility .plant-tree .content .countries .country:nth-of-type(1) .bar-right {
  width: calc(100% - 75.5%);
}
#social-responsibility .plant-tree .content .countries .country:nth-of-type(2) .bar::before {
  content: "香港";
}
#social-responsibility .plant-tree .content .countries .country:nth-of-type(2) .bar-left {
  width: 7%;
}
#social-responsibility .plant-tree .content .countries .country:nth-of-type(2) .bar-right {
  width: calc(100% - 7%);
}
#social-responsibility .plant-tree .content .countries .country:nth-of-type(3) .bar::before {
  content: "泰國";
}
#social-responsibility .plant-tree .content .countries .country:nth-of-type(3) .bar-left {
  width: 9%;
}
#social-responsibility .plant-tree .content .countries .country:nth-of-type(3) .bar-right {
  width: calc(100% - 9%);
}
#social-responsibility .plant-tree .content .countries .country:nth-of-type(4) .bar::before {
  content: "台灣";
}
#social-responsibility .plant-tree .content .countries .country:nth-of-type(4) .bar-left {
  width: 50%;
}
#social-responsibility .plant-tree .content .countries .country:nth-of-type(4) .bar-right {
  width: calc(100% - 50%);
}
#social-responsibility .plant-tree .content .countries .country:nth-of-type(5) .bar::before {
  content: "馬來西亞";
}
#social-responsibility .plant-tree .content .countries .country:nth-of-type(5) .bar-left {
  width: 1.2%;
}
#social-responsibility .plant-tree .content .countries .country:nth-of-type(5) .bar-right {
  width: calc(100% - 1.2%);
}
#social-responsibility .plant-tree .content .countries .country:nth-of-type(6) .bar::before {
  content: "美國";
}
#social-responsibility .plant-tree .content .countries .country:nth-of-type(6) .bar-left {
  width: 5%;
}
#social-responsibility .plant-tree .content .countries .country:nth-of-type(6) .bar-right {
  width: calc(100% - 5%);
}
#social-responsibility .plant-tree .content .countries .country:nth-of-type(7) .bar::before {
  content: "印度";
}
#social-responsibility .plant-tree .content .countries .country:nth-of-type(7) .bar-left {
  width: 1%;
}
#social-responsibility .plant-tree .content .countries .country:nth-of-type(7) .bar-right {
  width: calc(100% - 1%);
}
#social-responsibility .plant-tree .content .countries .country:nth-of-type(8) .bar::before {
  content: "印尼";
}
#social-responsibility .plant-tree .content .countries .country:nth-of-type(8) .bar-left {
  width: 6%;
}
#social-responsibility .plant-tree .content .countries .country:nth-of-type(8) .bar-right {
  width: calc(100% - 6%);
}
#social-responsibility .plant-tree .content .countries .country:nth-of-type(4) .bar-left {
  background-color: #f67d01;
}
#social-responsibility .plant-tree .content .countries .country:nth-of-type(4) .bar-right {
  background-color: #f0e7dd;
}
#social-responsibility .tree-sketch {
  position: absolute;
}
#social-responsibility .tree-sketch img {
  width: clamp(0px, 21.015625vw, 269px);
  position: absolute;
  top: clamp(-191px, -14.921875vw, 0px);
  left: 10vw;
}
#social-responsibility .recycle .box {
  border: 2px solid #010101;
  position: relative;
  padding-top: clamp(0px, 2.1875vw, 28px);
  padding-bottom: clamp(0px, 0.625vw, 8px);
  padding-left: clamp(0px, 3.75vw, 48px);
  padding-right: clamp(0px, 3.75vw, 48px);
}
#social-responsibility .recycle .box p:nth-of-type(1) {
  position: absolute;
  background-color: #dff1e0;
  padding: 0 clamp(0px, 0.78125vw, 10px);
  top: 0;
  left: 50%;
  transform: translate(-50%, -60%);
  white-space: nowrap;
}
#social-responsibility .recycle .box .bottle-number {
  margin-bottom: clamp(0px, 0.625vw, 8px);
}
#social-responsibility .recycle .bar-chart {
  display: flex;
  align-items: end;
  gap: clamp(0px, 0.3125vw, 4px);
}
@media (min-width: 640px) {
  #social-responsibility .recycle .bar-chart {
    gap: clamp(0px, 7.5vw, 96px);
  }
}
@media (min-width: 768px) {
  #social-responsibility .recycle .bar-chart {
    gap: clamp(0px, 10vw, 128px);
  }
}
#social-responsibility .recycle .bar-chart .bar .number {
  background-color: #00b65d;
  position: relative;
  padding: clamp(0px, 0.3125vw, 4px) clamp(0px, 0.625vw, 8px);
}
#social-responsibility .recycle .bar-chart .bar .number::before {
  content: "";
  position: absolute;
  border-color: #00b65d transparent transparent transparent;
  border-width: 10px;
  border-style: solid;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
}
#social-responsibility .recycle .bar-chart .bar img {
  width: clamp(0px, 9.0625vw, 116px);
  margin: 24px 0 20px 0;
}
#social-responsibility .recycle .video {
  max-width: 396px;
  position: relative;
}
#social-responsibility .recycle .video video {
  -webkit-clip-path: inset(0 round 30px);
          clip-path: inset(0 round 30px);
}
#social-responsibility .recycle .video img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 89%;
}
@media (max-width: 768px) {
  #social-responsibility .recycle .video img {
    display: none;
  }
}
#social-responsibility .recycle .flip-card {
  position: relative;
}
@media (max-width: 640px) {
  #social-responsibility .recycle .flip-card {
    margin: 0 18px;
  }
}
#social-responsibility .recycle .flip-card .background {
  border-radius: 10px;
  background-color: #00b65d;
  box-shadow: 3px 5px 8px 0px rgba(2, 65, 55, 0.26);
  transform: rotate(3.5deg) translate(5.5%, 4.2%);
  max-width: 429px;
  color: #00b65d;
}
#social-responsibility .recycle .flip-card .inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 5px 8px 0px rgba(2, 65, 55, 0.26);
  max-width: 429px;
}
#social-responsibility .recycle .card {
  width: clamp(0px, 71.015625vw, 909px);
  padding-top: clamp(8px, 1.5625vw, 20px);
  padding-bottom: clamp(8px, 1.5625vw, 20px);
}
#social-responsibility .recycle .recycle-process {
  width: clamp(0px, 67.8125vw, 868px);
  position: relative;
}
#social-responsibility .recycle .recycle-process .text {
  position: absolute;
  top: 53%;
  left: 51%;
  transform: translate(-50%, -50%);
}
#social-responsibility .recycle .steps p {
  margin-bottom: 0.5em;
}
#social-responsibility .recycle .steps p span {
  background-color: #00b65d;
  display: inline-block;
  padding: 0 0.5em;
  margin-right: 0.5em;
}
#social-responsibility .recycle ul li {
  list-style-type: initial;
  line-height: 1.5;
  margin-bottom: 1em;
}
#social-responsibility .recycle ul li::marker {
  color: #004e31;
}
#social-responsibility .recycle .footer {
  display: flex;
  align-items: stretch;
}
#social-responsibility .recycle .footer img {
  width: clamp(0px, 4.921875vw, 63px);
  -o-object-fit: contain;
     object-fit: contain;
}
#social-responsibility .recycle .footer div {
  background-color: #fff;
  display: flex;
  align-items: center;
}
#social-responsibility .recycle .footer div p {
  padding: 0 1em;
}
#social-responsibility .edan {
  background-color: #ffe9d3;
}
#social-responsibility .edan .content p:nth-of-type(1) {
  display: none;
}
@media (min-width: 800px) {
  #social-responsibility .edan .content p:nth-of-type(1) {
    display: block;
  }
}
@media (min-width: 800px) {
  #social-responsibility .edan .content p:nth-of-type(2) {
    display: none;
  }
}
#social-responsibility .edan .note-with-swiper {
  width: 100%;
}
@media (min-width: 768px) {
  #social-responsibility .edan .note-with-swiper {
    max-width: 1155px;
  }
}
#social-responsibility .edan .note-with-swiper .sticky-notes {
  flex-basis: 40%;
  font-family: "Fluffy";
  position: relative;
}
@media (min-width: 768px) {
  #social-responsibility .edan .note-with-swiper .sticky-notes {
    max-width: 477px;
    align-self: end;
  }
}
#social-responsibility .edan .note-with-swiper .sticky-notes .year {
  position: absolute;
  top: 5%;
  left: 45%;
  font-size: clamp(80px, 8.671875vw, 111px);
  letter-spacing: -0.48em;
  color: #f67d01;
  transform: translateX(-60%) rotate(-5deg);
}
@media (min-width: 768px) {
  #social-responsibility .edan .note-with-swiper .sticky-notes .year {
    top: 1%;
    font-size: clamp(0px, 8.671875vw, 111px);
  }
}
#social-responsibility .edan .note-with-swiper .sticky-notes .content {
  position: absolute;
  top: 20%;
  transform: rotate(-5deg);
  font-size: clamp(26px, 2.65625vw, 34px);
  letter-spacing: -0.24em;
  line-height: 1.2;
  color: #7e5f6c;
  padding: 0.8em 1.2em 0 0.8em;
}
@media (min-width: 768px) {
  #social-responsibility .edan .note-with-swiper .sticky-notes .content {
    top: 16%;
    font-size: clamp(0px, 2.65625vw, 34px);
  }
}
#social-responsibility .edan .note-with-swiper .sticky-notes + div {
  width: 100%;
}
@media (min-width: 768px) {
  #social-responsibility .edan .note-with-swiper .sticky-notes + div {
    flex-basis: 60%;
    max-width: 643px;
  }
}
#social-responsibility .edan .swiper {
  width: 100%;
}
@media (min-width: 768px) {
  #social-responsibility .edan .swiper {
    width: clamp(0px, 50.234375vw, 643px);
  }
}
#social-responsibility .edan .swiper-pagination {
  bottom: clamp(-20px, -1.5625vw, 0px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 6px;
  height: 0.46875vw;
}
#social-responsibility .edan .swiper-pagination::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f67d01;
  width: 96%;
  max-height: 6px;
  height: 0.46875vw;
}
@media (min-width: 768px) {
  #social-responsibility .edan .swiper-pagination::after {
    width: 90%;
  }
}
#social-responsibility .edan .swiper-pagination-bullet {
  background-image: url("../assets/images/heart.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: clamp(0px, 2.421875vw, 31px);
  height: clamp(0px, 2.109375vw, 27px);
  --swiper-pagination-bullet-inactive-color: transparent;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-border-radius: 0;
  position: relative;
  z-index: 1;
}
#social-responsibility .edan .swiper-pagination-bullet > div {
  display: none;
  font-size: clamp(16px, 1.875vw, 24px);
  color: #f67d01;
  font-weight: 900;
  position: absolute;
  bottom: clamp(-42px, -3.28125vw, -20px);
  left: 50%;
  transform: translate(-50%);
}
#social-responsibility .edan .swiper-pagination-bullet-active {
  background-image: url("../assets/images/heart-active.png");
  width: clamp(0px, 3.359375vw, 43px);
  height: clamp(0px, 3.046875vw, 39px);
  --swiper-pagination-color: transparent;
}
#social-responsibility .edan .swiper-pagination-bullet-active > div {
  display: block;
}
#social-responsibility .edan .join {
  width: clamp(300px, 50.703125vw, 649px);
  margin-top: clamp(0px, 9.375vw, 120px);
  margin-bottom: clamp(0px, 3.75vw, 48px);
}
#social-responsibility .environment .cards {
  gap: clamp(16px, 3.125vw, 40px);
}
#social-responsibility .environment .cards > div {
  max-width: 1117px;
  width: 100%;
}
#social-responsibility .environment .cards .logo {
  display: flex;
  align-items: center;
  width: clamp(0px, 23.4375vw, 300px);
  justify-content: center;
}
#social-responsibility .environment .cards .text {
  line-height: 1.5;
}
#social-responsibility .environment .cards .vegan,
#social-responsibility .environment .cards .ocean {
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  #social-responsibility .environment .cards .vegan,
  #social-responsibility .environment .cards .ocean {
    flex-direction: row;
  }
}
#social-responsibility .environment .cards .vegan .text,
#social-responsibility .environment .cards .ocean .text {
  width: 100%;
  text-align: end;
}
@media (min-width: 768px) {
  #social-responsibility .environment .cards .vegan .text,
  #social-responsibility .environment .cards .ocean .text {
    text-align: start;
  }
}
#social-responsibility .environment .cards .vegan .pic,
#social-responsibility .environment .cards .ocean .pic {
  width: 100%;
  border-radius: clamp(4px, 0.78125vw, 10px) clamp(4px, 0.78125vw, 10px) 0 0;
}
@media (min-width: 768px) {
  #social-responsibility .environment .cards .vegan .pic,
  #social-responsibility .environment .cards .ocean .pic {
    width: clamp(0px, 33.59375vw, 430px);
    border-radius: 0 clamp(4px, 0.78125vw, 10px) clamp(4px, 0.78125vw, 10px) 0;
  }
}
#social-responsibility .environment .cards .vegan > .flex,
#social-responsibility .environment .cards .ocean > .flex {
  width: 100%;
  justify-content: space-between;
  padding: 1.5em;
}
@media (min-width: 768px) {
  #social-responsibility .environment .cards .vegan > .flex,
  #social-responsibility .environment .cards .ocean > .flex {
    justify-content: start;
    padding: 26px 26px 26px 0;
  }
}
#social-responsibility .environment .cards .vegan .logo img {
  width: clamp(91px, 11.875vw, 152px);
}
#social-responsibility .environment .cards .ocean .logo img {
  width: clamp(83px, 10.859375vw, 139px);
}
#social-responsibility .environment .cards .peta {
  flex-direction: column;
  padding: 1.5em;
  align-items: center;
}
#social-responsibility .environment .cards .peta .logo {
  width: 100%;
}
#social-responsibility .environment .cards .peta .logo img {
  width: 50%;
}
#social-responsibility .environment .cards .peta .text p:nth-of-type(1) {
  text-align: end;
  margin-top: 1em;
  position: relative;
}
#social-responsibility .environment .cards .peta .text p:nth-of-type(1)::before {
  content: "";
  position: absolute;
  width: calc(100% - 5em);
  height: 1px;
  background-color: rgba(92, 92, 92, 0.5019607843);
  top: 50%;
  left: 0;
}
@media (min-width: 768px) {
  #social-responsibility .environment .cards .peta {
    flex-direction: row;
    padding: 26px 26px 26px 0;
  }
  #social-responsibility .environment .cards .peta .logo {
    width: clamp(0px, 16.09375vw, 206px);
  }
  #social-responsibility .environment .cards .peta .logo img {
    width: clamp(0px, 12.03125vw, 154px);
  }
  #social-responsibility .environment .cards .peta .text {
    width: clamp(0px, 69.140625vw, 885px);
  }
  #social-responsibility .environment .cards .peta .text p:nth-of-type(1) {
    text-align: start;
    margin-top: 0;
  }
  #social-responsibility .environment .cards .peta .text p:nth-of-type(1)::before {
    display: none;
  }
}
#social-responsibility .environment .cards .reduce .pic {
  width: clamp(0px, 36.25vw, 464px);
}
#social-responsibility .environment .cards .reuse .pic {
  width: clamp(0px, 34.6875vw, 444px);
}
#social-responsibility .environment .cards .reduce,
#social-responsibility .environment .cards .reuse {
  flex-direction: column-reverse;
}
#social-responsibility .environment .cards .reduce .text,
#social-responsibility .environment .cards .reuse .text {
  padding: 0 1.5em 1.5em 1.5em;
  transform: translateY(-2.5em);
}
#social-responsibility .environment .cards .reduce .text p:nth-of-type(1),
#social-responsibility .environment .cards .reuse .text p:nth-of-type(1) {
  text-align: end;
  margin-bottom: 0.5em;
}
#social-responsibility .environment .cards .reduce .pic.md\:d-none,
#social-responsibility .environment .cards .reuse .pic.md\:d-none {
  width: 100%;
  border-radius: clamp(4px, 0.78125vw, 10px) clamp(4px, 0.78125vw, 10px) 0 0;
}
@media (min-width: 768px) {
  #social-responsibility .environment .cards .reduce,
  #social-responsibility .environment .cards .reuse {
    flex-direction: row;
  }
  #social-responsibility .environment .cards .reduce .text,
  #social-responsibility .environment .cards .reuse .text {
    transform: none;
    padding-left: clamp(0px, 4.0625vw, 52px);
    padding-right: clamp(0px, 2.03125vw, 26px);
  }
  #social-responsibility .environment .cards .reduce .text p:nth-of-type(1),
  #social-responsibility .environment .cards .reuse .text p:nth-of-type(1) {
    text-align: start;
    margin-bottom: 0;
  }
  #social-responsibility .environment .cards .reduce .pic,
  #social-responsibility .environment .cards .reuse .pic {
    border-radius: 0 clamp(4px, 0.78125vw, 10px) clamp(4px, 0.78125vw, 10px) 0;
  }
}
#social-responsibility .more {
  padding-bottom: clamp(0px, 2.8125vw, 36px);
}
#social-responsibility .more > p {
  margin-top: clamp(0px, 5.625vw, 72px);
  margin-bottom: clamp(0px, 2.8125vw, 36px);
}
#social-responsibility .more .flex {
  gap: 4px;
  justify-content: center;
}
#social-responsibility .more .flex .href:first-of-type {
  background-image: url("../assets/images/about-us.png");
}
#social-responsibility .more .flex .href:last-of-type {
  background-image: url("../assets/images/green-tea-heritage.png");
}
#social-responsibility .more .href {
  background-repeat: no-repeat;
  background-size: cover;
  width: clamp(0px, 44.296875vw, 567px);
  height: clamp(0px, 13.90625vw, 178px);
  display: flex;
  align-items: center;
  padding-left: 1.5%;
}
#social-responsibility .more .href a span:last-of-type {
  display: flex;
  align-items: center;
  gap: 4px;
}
#social-responsibility .more .href a span:last-of-type img {
  margin-top: 1%;
  max-width: 28px;
  width: 2.1875vw;
}/*# sourceMappingURL=style.css.map */