@use "sass:math";
@use "sass:list";

@function clampCalc($max, $min) {
    $val: #{math.div($max, 12.8)}vw;
    @if ($max > 0) {
        @return clamp(#{$min}px, $val, #{$max}px);
    } @else {
        @return clamp(#{$max}px, $val, #{$min}px);
    }
}

@font-face {
    font-family: "Fluffy";
    src: url("../assets/fonts/Innisfree-Fluffy-Monospaced-Font.ttf");
}

$primary-color: #00b65d;
$primary-color-dark: #004e31;
$background-color: #dff1e0;
$Noto-Sans-TC: "Noto Sans TC", sans-serif;

#social-responsibility {
    line-height: initial;
    font-family: $Noto-Sans-TC;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: $background-color;
    .fs-75px {
        font-size: clampCalc(75, 24);
    }
    .fs-40px {
        line-height: 1.575;
        font-size: clampCalc(40, 20);
    }
    .fs-34px {
        font-size: clampCalc(34, 16);
    }
    .fs-20px {
        font-size: clampCalc(20, 14);
    }
    .leading-2\.5 {
        line-height: 2.5;
    }
    .leading-2 {
        line-height: 2;
    }
    .tracking-0\.3 {
        letter-spacing: 0.3em;
    }
    .fw-medium {
        font-weight: 500;
    }
    .fw-bold {
        font-weight: 700;
    }
    .fw-heavy {
        font-weight: 900;
    }
    .text-white {
        color: #fff;
    }
    .text-green {
        color: $primary-color;
    }
    .text-dark-green {
        color: $primary-color-dark;
    }
    .text-gray {
        color: #5d5d5d;
    }
    .text-center {
        text-align: center;
    }
    .m-auto {
        margin: auto;
    }
    .mt-auto {
        margin-top: auto;
    }
    .mt-20px {
        margin-top: clampCalc(20, 0);
    }
    .mt-36px {
        margin-top: clampCalc(36, 0);
    }
    .mt-48px {
        margin-top: clampCalc(48, 0);
    }
    .mt-52px {
        margin-top: clampCalc(52, 0);
    }
    .mt-64px {
        margin-top: clampCalc(64, 0);
    }
    .mt-72px {
        margin-top: clampCalc(72, 0);
    }
    .md\:mt-72px {
        @media (min-width: 768px) {
            margin-top: clampCalc(72, 0);
        }
    }
    .mt-120px {
        margin-top: clampCalc(120, 0);
    }
    .px-36px {
        padding-left: clampCalc(36, 0);
        padding-right: clampCalc(36, 0);
    }
    .py-60px {
        padding-top: clampCalc(60, 0);
        padding-bottom: clampCalc(60, 0);
    }
    .py-50px {
        padding-top: clampCalc(50, 0);
        padding-bottom: clampCalc(50, 0);
    }
    .px-70px {
        padding-left: clampCalc(70, 0);
        padding-right: clampCalc(70, 0);
    }
    .w-100 {
        width: 100%;
    }
    .rounded {
        border-radius: clampCalc(10, 4);
    }
    .block {
        display: block;
    }
    .d-none {
        display: none;
    }
    .flex {
        display: flex;
    }
    .sm\:block {
        @media (min-width: 640px) {
            display: block;
        }
    }
    .md\:block {
        @media (min-width: 768px) {
            display: block;
        }
    }
    .md\:d-none {
        @media (min-width: 768px) {
            display: none;
        }
    }
    .flex-col {
        flex-direction: column;
    }
    .sm\:flex-row {
        @media (min-width: 640px) {
            flex-direction: row;
        }
    }
    .md\:flex-row {
        @media (min-width: 768px) {
            flex-direction: row;
        }
    }
    .items-center {
        align-items: center;
    }
    .items-start {
        align-items: flex-start;
    }
    .justify-center {
        justify-content: center;
    }
    .justify-between {
        justify-content: space-between;
    }
    .md\:flex {
        @media (min-width: 768px) {
            display: flex;
        }
    }
    .sm\:items-center {
        @media (min-width: 640) {
            align-items: center;
        }
    }
    .md\:items-center {
        @media (min-width: 768px) {
            align-items: center;
        }
    }
    .md\:justify-center {
        @media (min-width: 768px) {
            justify-content: center;
        }
    }
    .basis-1\/2 {
        flex-basis: 50%;
    }
    .gap-4 {
        gap: 1rem;
    }
    .center {
        display: flex;
        > * {
            margin: auto;
        }
    }
    .bg-white {
        background-color: #fff;
    }
    .header {
        display: flex;
        background-image: url("../assets/images/header-bg.png");
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: cover;
        padding: 5.46875vw;
        height: 100dvh;
    }
    .paper {
        background-color: rgb(255, 255, 255);
        box-shadow: 3px 5px 3px 0px rgba(0, 182, 93, 0.19);
        position: relative;
        border-radius: 10px 0 10px 10px;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 clampCalc(64, 0) clampCalc(58, 0) 0;
            border-color: transparent $background-color transparent transparent;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 clampCalc(64, 0) clampCalc(58, 0) 0;
            border-color: transparent transparent $primary-color transparent;
        }
        .paper-dog-eared {
            position: absolute;
            width: 10px;
            height: clampCalc(58, 0);
            top: 0;
            right: -10px;
            background-color: $background-color;
        }
    }

    .title {
        padding: clampCalc(36, 0) 0 clampCalc(54, 0) 0;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }
    .title.title-green {
        background-image: url("../assets/images/green-shield.png");
    }
    .title.title-orange {
        background-image: url("../assets/images/orange-shield.png");
    }
    .card {
        background-color: $primary-color;
    }

    .plant-tree {
        .content {
            .card {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                padding-top: clampCalc(28, 8);
                padding-bottom: clampCalc(28, 8);
                padding-left: clampCalc(180, 0);
                padding-right: clampCalc(180, 0);
                @media (max-width: 600px) {
                    padding-left: clamp(0px, 3.5625vw, 148px);
                    padding-right: clamp(0px, 3.5625vw, 148px);
                }
            }
            .tree-number {
                font-family: $Noto-Sans-TC;
                font-size: clampCalc(185, 0);
                position: relative;
                &::after {
                    content: "棵";
                    position: absolute;
                    bottom: clampCalc(-42, 0);
                    right: clampCalc(-52, 0);
                    font-size: clampCalc(55, 0);
                }
                .odometer-inside .odometer-digit {
                    background-color: #fff;
                    padding-right: clampCalc(12, 0);
                    padding-left: clampCalc(18, 0);
                    margin: 0 clampCalc(10, 0);
                }
                .odometer-formatting-mark {
                    font-size: clampCalc(75, 0);
                }
                .odometer-value.odometer-last-value {
                    left: 0;
                    right: 0;
                }
            }
            .paper {
                width: clampCalc(1117, 0);
            }
            .countries {
                display: grid;
                grid-auto-flow: column;
                grid-template-rows: repeat(4, auto);
                grid-template-columns: repeat(2, auto);
                row-gap: clampCalc(54, 0);
                column-gap: clampCalc(76, 0);
                width: min-content;
                margin-top: clampCalc(83, 0);
                .country {
                    display: flex;
                    align-items: center;
                    gap: clampCalc(16, 0);
                    width: min-content;
                    .bar {
                        height: 18px;
                        width: clampCalc(338, 0);
                        display: flex;
                        position: relative;
                        &::before {
                            position: absolute;
                            color: $primary-color-dark;
                            font-size: clampCalc(20, 14);
                            top: clamp(-36px, calc(-1.5625vw - 16px), -16px);
                        }
                    }
                    .bar-left {
                        background-color: $primary-color-dark;
                    }
                    .bar-right {
                        background-color: #b5d0b3;
                    }
                }
                $country: (
                    "中國": (
                        1,
                        75.5%
                    ),
                    "香港": (
                        2,
                        7%
                    ),
                    "泰國": (
                        3,
                        9%
                    ),
                    "台灣": (
                        4,
                        50%
                    ),
                    "馬來西亞": (
                        5,
                        1.2%
                    ),
                    "美國": (
                        6,
                        5%
                    ),
                    "印度": (
                        7,
                        1%
                    ),
                    "印尼": (
                        8,
                        6%
                    )
                );
                @each $name, $data in $country {
                    .country:nth-of-type(#{list.nth($data, 1)}) {
                        .bar::before {
                            content: $name;
                        }
                        .bar-left {
                            width: #{list.nth($data, 2)};
                        }
                        .bar-right {
                            width: calc(100% - #{list.nth($data, 2)});
                        }
                    }
                }
                .country:nth-of-type(4) {
                    .bar-left {
                        background-color: #f67d01;
                    }
                    .bar-right {
                        background-color: #f0e7dd;
                    }
                }
            }
        }
    }
    .tree-sketch {
        position: absolute;
        img {
            width: clampCalc(269, 0);
            position: absolute;
            top: clampCalc(-191, 0);
            left: 10vw;
        }
    }

    .recycle {
        .box {
            border: 2px solid #010101;
            position: relative;
            padding-top: clampCalc(28, 0);
            padding-bottom: clampCalc(8, 0);
            padding-left: clampCalc(48, 0);
            padding-right: clampCalc(48, 0);
            p:nth-of-type(1) {
                position: absolute;
                background-color: $background-color;
                padding: 0 clampCalc(10, 0);
                top: 0;
                left: 50%;
                transform: translate(-50%, -60%);
                white-space: nowrap;
            }
            .bottle-number {
                margin-bottom: clampCalc(8, 0);
            }
        }
        .bar-chart {
            display: flex;
            align-items: end;
            gap: clampCalc(4, 0);
            @media (min-width: 640px) {
                gap: clampCalc(96, 0);
            }
            @media (min-width: 768px) {
                gap: clampCalc(128, 0);
            }
            .bar {
                .number {
                    background-color: $primary-color;
                    position: relative;
                    padding: clampCalc(4, 0) clampCalc(8, 0);
                    &::before {
                        content: "";
                        position: absolute;
                        border-color: $primary-color transparent transparent transparent;
                        border-width: 10px;
                        border-style: solid;
                        bottom: -24px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                img {
                    width: clampCalc(116, 0);
                    margin: 24px 0 20px 0;
                }
            }
        }
        .video {
            max-width: 396px;
            position: relative;
            video {
                clip-path: inset(0 round 30px);
            }
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 89%;
                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
        .flip-card {
            position: relative;
            @media (max-width: 640px) {
                margin: 0 18px;
            }
            .background {
                border-radius: 10px;
                background-color: $primary-color;
                box-shadow: 3px 5px 8px 0px rgba(2, 65, 55, 0.26);
                transform: rotate(3.5deg) translate(5.5%, 4.2%);
                max-width: 429px;
                color: $primary-color;
            }
            .inner {
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 10px;
                background-color: rgb(255, 255, 255);
                box-shadow: 3px 5px 8px 0px rgba(2, 65, 55, 0.26);
                max-width: 429px;
            }
            img {
                position: absolute;
                top: clampCalc(-24, 0);
                left: clampCalc(24, 0);
                width: clampCalc(51, 0);
            }
        }
        .card {
            width: clampCalc(909, 0);
            padding-top: clampCalc(20, 8);
            padding-bottom: clampCalc(20, 8);
        }
        .recycle-process {
            width: clampCalc(868, 0);
            position: relative;
            .text {
                position: absolute;
                top: 53%;
                left: 51%;
                transform: translate(-50%, -50%);
            }
        }
        .steps {
            p {
                margin-bottom: 0.5em;
                span {
                    background-color: $primary-color;
                    display: inline-block;
                    padding: 0 0.5em;
                    margin-right: 0.5em;
                }
            }
        }
        ul li {
            list-style-type: initial;
            line-height: 1.5;
            margin-bottom: 1em;
            &::marker {
                color: $primary-color-dark;
            }
        }
        .footer {
            display: flex;
            align-items: stretch;
            img {
                width: clampCalc(63, 0);
                object-fit: contain;
            }
            div {
                background-color: #fff;
                display: flex;
                align-items: center;
                p {
                    // white-space: nowrap;
                    padding: 0 1em;
                }
            }
        }
    }

    .edan {
        background-color: #ffe9d3;
        .content {
            p:nth-of-type(1) {
                display: none;
                @media (min-width: 800px) {
                    display: block;
                }
            }
            p:nth-of-type(2) {
                @media (min-width: 800px) {
                    display: none;
                }
            }
        }
        .note-with-swiper {
            width: 100%;
            @media (min-width: 768px) {
                max-width: 1155px;
            }
            .sticky-notes {
                flex-basis: 40%;
                font-family: "Fluffy";
                position: relative;
                @media (min-width: 768px) {
                    max-width: 477px;
                    align-self: end;
                }
                .year {
                    position: absolute;
                    top: 5%;
                    left: 45%;
                    font-size: clampCalc(111, 80);
                    @media (min-width: 768px) {
                        top: 1%;
                        font-size: clampCalc(111, 0);
                    }
                    letter-spacing: -0.48em;
                    color: #f67d01;
                    transform: translateX(-60%) rotate(-5deg);
                }
                .content {
                    position: absolute;
                    top: 20%;
                    transform: rotate(-5deg);
                    font-size: clampCalc(34, 26);
                    @media (min-width: 768px) {
                        top: 16%;
                        font-size: clampCalc(34, 0);
                    }
                    letter-spacing: -0.24em;
                    line-height: 1.2;
                    color: #7e5f6c;
                    padding: 0.8em 1.2em 0 0.8em;
                }
            }
            .sticky-notes + div {
                @media (min-width: 768px) {
                    flex-basis: 60%;
                    max-width: 643px;
                }
                width: 100%;
            }
        }
        .swiper {
            @media (min-width: 768px) {
                width: clampCalc(643, 0);
            }
            width: 100%;
        }
        .swiper-pagination {
            bottom: clampCalc(-20, 0);
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-height: 6px;
            height: 0.46875vw;
            &::after {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                background-color: #f67d01;
                width: 96%;
                max-height: 6px;
                height: 0.46875vw;
                @media (min-width: 768px) {
                    width: 90%;
                }
            }
        }
        .swiper-pagination-bullet {
            background-image: url("../assets/images/heart.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            width: clampCalc(31, 0);
            height: clampCalc(27, 0);
            --swiper-pagination-bullet-inactive-color: transparent;
            --swiper-pagination-bullet-inactive-opacity: 1;
            --swiper-pagination-bullet-border-radius: 0;
            position: relative;
            z-index: 1;
            > div {
                display: none;
                font-size: clampCalc(24, 16);
                color: #f67d01;
                font-weight: 900;
                position: absolute;
                bottom: clampCalc(-42, -20);
                left: 50%;
                transform: translate(-50%);
            }
        }
        .swiper-pagination-bullet-active {
            background-image: url("../assets/images/heart-active.png");
            width: clampCalc(43, 0);
            height: clampCalc(39, 0);
            --swiper-pagination-color: transparent;
            > div {
                display: block;
            }
        }
        .join {
            width: clampCalc(649, 300);
            margin-top: clampCalc(120, 0);
            margin-bottom: clampCalc(48, 0);
        }
    }

    .environment {
        .cards {
            gap: clampCalc(40, 16);
            > div {
                max-width: 1117px;
                width: 100%;
            }
            @media (min-width: 768px) {
            }
            .logo {
                display: flex;
                align-items: center;
                width: clampCalc(300, 0);
                justify-content: center;
            }
            .text {
                line-height: 1.5;
            }
            .vegan,
            .ocean {
                flex-direction: column-reverse;
                @media (min-width: 768px) {
                    flex-direction: row;
                }
                .text {
                    width: 100%;
                    text-align: end;
                    @media (min-width: 768px) {
                        text-align: start;
                    }
                }
                .pic {
                    width: 100%;
                    border-radius: clampCalc(10, 4) clampCalc(10, 4) 0 0;
                    @media (min-width: 768px) {
                        width: clampCalc(430, 0);
                        border-radius: 0 clampCalc(10, 4) clampCalc(10, 4) 0;
                    }
                }
                > .flex {
                    width: 100%;
                    justify-content: space-between;
                    padding: 1.5em;
                    @media (min-width: 768px) {
                        justify-content: start;
                        padding: 26px 26px 26px 0;
                    }
                }
            }
            .vegan {
                .logo img {
                    width: clampCalc(152, 91);
                }
            }
            .ocean {
                .logo img {
                    width: clampCalc(139, 83);
                }
            }
            .peta {
                flex-direction: column;
                padding: 1.5em;
                align-items: center;
                .logo {
                    width: 100%;
                    img {
                        width: 50%;
                    }
                }
                .text {
                    p:nth-of-type(1) {
                        text-align: end;
                        margin-top: 1em;
                        position: relative;
                        &::before {
                            content: "";
                            position: absolute;
                            width: calc(100% - 5em);
                            height: 1px;
                            background-color: #5c5c5c80;
                            top: 50%;
                            left: 0;
                        }
                    }
                }
                @media (min-width: 768px) {
                    flex-direction: row;
                    padding: 26px 26px 26px 0;
                    .logo {
                        width: clampCalc(206, 0);
                        img {
                            width: clampCalc(154, 0);
                        }
                    }
                    .text {
                        p:nth-of-type(1) {
                            text-align: start;
                            margin-top: 0;
                            &::before {
                                display: none;
                            }
                        }
                        width: clampCalc(885, 0);
                    }
                }
            }
            .reduce {
                .pic {
                    width: clampCalc(464, 0);
                }
            }
            .reuse {
                .pic {
                    width: clampCalc(444, 0);
                }
            }
            .reduce,
            .reuse {
                flex-direction: column-reverse;
                .text {
                    padding: 0 1.5em 1.5em 1.5em;
                    transform: translateY(-2.5em);
                    p:nth-of-type(1) {
                        text-align: end;
                        margin-bottom: 0.5em;
                    }
                }
                .pic.md\:d-none {
                    width: 100%;
                    border-radius: clampCalc(10, 4) clampCalc(10, 4) 0 0;
                }
                @media (min-width: 768px) {
                    flex-direction: row;
                    .text {
                        transform: none;
                        padding-left: clampCalc(52, 0);
                        padding-right: clampCalc(26, 0);
                        p:nth-of-type(1) {
                            text-align: start;
                            margin-bottom: 0;
                        }
                    }
                    .pic {
                        border-radius: 0 clampCalc(10, 4) clampCalc(10, 4) 0;
                    }
                }
            }
        }
    }

    .more {
        padding-bottom: clampCalc(36, 0);
        > p {
            margin-top: clampCalc(72, 0);
            margin-bottom: clampCalc(36, 0);
        }
        .flex {
            gap: 4px;
            justify-content: center;
            .href:first-of-type {
                background-image: url("../assets/images/about-us.png");
            }
            .href:last-of-type {
                background-image: url("../assets/images/green-tea-heritage.png");
            }
        }
        .href {
            background-repeat: no-repeat;
            background-size: cover;
            width: clampCalc(567, 0);
            height: clampCalc(178, 0);
            display: flex;
            align-items: center;
            padding-left: 1.5%;
            a {
                span:last-of-type {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    img {
                        margin-top: 1%;
                        max-width: 28px;
                        width: 2.1875vw;
                    }
                }
            }
        }
    }
}
